body{
  background-repeat: repeat;
}

div#contentbox{
  border-left: 1px solid #111111;
  border-right: 1px solid #111111;
}

div#contentbox header{
  background-image: url(/assets/deko6-ie.jpg);
}
div#contentbox header h1{
  display: none;
}

div#contentbox header img#logo{
  display: none;
}

